<!DOCTYPE html>
<html lang="zh-Hant">

<%- include("html-head", { title: "定期聚" }); -%>

<body>
<%- include("header", { title: "定期聚" }); -%>

  <section class="events">
    <div class="background-words">Wanna Join?</div>
    <div class="we-intro">Latest Events</div>
<% events.forEach(function (e, i) { -%>

    <div class="event-box">
        <div class="event-info">
          <p class="event-place"><%= e.place %></p>
          <p class="event-time"><%= e.time %></p>
        </div>
        <div class="event-name">
          <div class="name"><%= e.title %></div>
          <a href="<%= e.url %>" class="url" target="_blank"><%= e.url %></a>
        </div>
    </div>
<% }); -%>

  </section>

<%- include("footer"); -%>
</body>
