<!DOCTYPE html>
<html lang="zh-Hant">

<%- include("html-head", { title: "定期聚" }); -%>

<body>
<%- include("header"); -%>

  <section class="events">
    <div class="backgroundWords">Wanna Join?</div>
    <div class="weIntro">Latest Events</div>
<% events.forEach(function (e, i) { -%>

    <div class="eventBox">
        <div class="eventInfo">
          <p class="eventPlace"><%= e.place %></p>
          <p class="eventTime"><%= e.time %></p>
        </div>
        <div class="eventName">
          <div class="name"><%= e.title %></div>
          <a href="<%= e.url %>" class="url" target="_blank"><%= e.url %></a>
        </div>
    </div>
<% }); -%>

  </section>

<%- include("footer"); -%>
</body>
