<!DOCTYPE html>
<html lang="zh-Hant" data-bs-theme="dark">

<%- include("html-head", { title: "介紹", scripts: ["./js/hello.js", "./js/zoom.js"] }); -%>

<body>
<%- include("header", { title: "介紹" }); -%>

  <section class="intro">
    </h1>
    <div class="intro-img">
      <img onclick="hello()" class="zoom" src="./resources/intro/ccns_page_photo.webp" alt="" />
    </div>
    <div class="club-intro">
      <span class="white">
        一台電腦，成為了傳奇。</br>一個社群網站，改變了世界。</br>一個應用程式，創造了奇蹟。
      </span>
    </div>
    <div class="club-intro">
      面對資訊爆炸的未來 ? </br>
      面對自動化的時代 ?</br>
      面對無可避免的領域 ?</br></br>
      <span class="white">你準備，如何充實自己 ?</span> </div>

    <div class="club-intro"><span class="white">
        電腦網路愛好社由夢大創辦人朱拉面於1995年成立，我們是夢大管理者，也曾是成大校園網路的推廣者。</br></br>
        本社宗旨為推廣資訊科技相關知識，提供管道讓成大學生能學習電腦軟硬體知識並增進應用能力。
      </span>
    </div>
    </div>
    <div class="club-intro">
      透過實際操作進階的程式撰寫，促使成大學生具備程式開發之基礎能力與觀念，以期能作為未來向各領域發展之工具。
    </div>
    <div class="club-intro">
      <span class="white">這裡聚集著一群對資訊科技有興趣，熱情的有志之士。</span></br>
      想學習程式語言和軟體技巧 ? </br>
      這裡，會有熱情的學長姊可以討論。</br>
      想了解硬體? </br>
      這裡，會提供你所需要的知識及設備。</br>
      想共同協作? </br>
      <span class="white">這裡，有個開發團隊。</span></br></br>
      </span>
      <img class="google-img zoom" src="./resources/intro/ccnsGoogle.webp" alt="" /></br>
      <span class="white">無論你是資訊領域的新手或是強者，只要懷著一顆熱情的心，我們都歡迎你。</span>
      </br>
    </div>
    </div>
  </section>
  <section class="timeline">
    <div class="timeline">
      <dl>
<% timeline.slice().reverse().forEach(function (year, i) { -%>
<%   year.events.slice().reverse().forEach(function (event, j) { -%>
<%-    (i || j) ? '\n' : '' -%>
        <!--右/左側文章 start-->
        <dd class="clearfix">
          <div class="events card">
            <div class="events-header"><%= event.name %></div>
            <div class="events-body">
              <img class="timeline-pic zoom" src="<%= event.pic %>" loading="lazy" alt="">
<%     if (event.description || event.links) { -%>
              <div class="events-footer">
<%       if (event.description) { -%>
                <span><%= event.description.replace('\n', '<br />') %></span></br>
<%       } -%>
<%       if (event.links) { -%>
<%         event.links.forEach(function (l, i) { -%>
                <a href="<%= l.link %>" target="_blank">
                  <%= l.text %></a>
<%         }); -%>
<%       } -%>
              </div>
<%     } -%>
            </div>
          </div>
        </dd>
        <!--右/左側文章 end-->
<%   }); -%>
        <dt class="card"><%= year.year %></dt>
<% }); -%>
      </dl>
    </div>
  </section>

<%- include("footer"); -%>
</body>

</html>
