<!DOCTYPE html>
<html lang="zh-Hant">

<%- include("html-head", { title: "社員" }); -%>

<body>
<%- include("header", { title: "社員" }); -%>

  <section class="member-intro">
    <div class="member-list">
<%- include("c-chan"); -%>

<% members.forEach(function (e, i) { -%>
<%-  i ? '\n' : '' -%>
      <div class="member-item">
        <img class="thumbnails" src="<%= e.thumbnail %>" alt="" />
        <div class="desc">
          <span class="white-adj">
            <h1>
              <%= e.name %>
<%   if(e.links) { -%>
<%     e.links.forEach(function (l, i) { -%>
              <a href="<%= l.link %>" target="_blank">
                <i class="fab fa-<%= l.icon %>" aria-hidden="true"></i>
              </a>
<%     }); -%>
<%   } -%>
            </h1>
            <p><%- e.description.replace('\n', '<br />') -%></p>
          </span>
        </div>
      </div>
<% }); -%>
    </div>
  </section>

<%- include("footer"); -%>
</body>

</html>
