<!DOCTYPE html>
<html lang="zh-Hant" data-bs-theme="dark">

<%- include("html-head", { title: "專案" }); -%>

<body>
<%- include("header", { title: "專案" }); -%>

  <section class="club-projects">
<% var isBrand = { 'facebook': true, 'github': true }; -%>
<% projects.forEach(function (e, i) { -%>
<%-  i ? '\n' : '' -%>
<%   if (i % 2 === 0) { -%>
    <div class="row">
<%   } -%>
      <!-- <%= (i % 2 === 0) ? 'odd' : 'even' %> column -->
      <div class="column">
        <div class="card">
          <h2>
            <%= e.name %>
<%     if(e.links) { -%>
<%       e.links.forEach(function (l, i) { -%>
            <a href="<%= l.link %>" target="_blank"><i class="<%= isBrand[l.icon] ? 'fab' : 'fas' %> fa-<%= l.icon %> fa-1x"></i></a>
<%       }); -%>
<%     } -%>
          </h2>
          <p><%- e.description.replace('\n', '<br />') -%></p>
        </div>
      </div>
<%   if (i % 2 !== 0 || i + 1 == projects.length) { -%>
    </div>
<%   } -%>
<% }); -%>
  </section>

  <section class="project-form">

    <form id="google-form" name="suggestForm" onsubmit="return validate()">
      <h3>若有什麼希望我們舉辦的專案也可送出表單告訴我們哦</h3>
      <h4>Who are you</h4>
      <input id="name" type="text" name="nickname" placeholder="Your nickname">
      </br></br>
      <h4>What you need</h4>
      <textarea id="wish" name="wish" placeholder="Your wish"></textarea>
      </br>
      <input type="submit" value="Submit">
      </br>

    </form>
  </section>

<%- include("footer"); -%>
</body>
<script src="js/form.js"></script>


</html>
